/* See license.txt for terms of usage */

div:-moz-native-anonymous.moz-custom-content-container {
}

.pixelperfect-layer-image {
  position: absolute;
  cursor: move;
  pointer-events: auto;
}

.pixelperfect-layer-image[drag] {
  outline: 1px dashed rgb(51, 153, 255);
}

.pixelperfect-layer-image[lock] {
  cursor: default;
  pointer-events: none;
}
