/* See license.txt for terms of usage */

/******************************************************************************/
/* General */

body {
  background-color: white;
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 12px;
  font-family: Lucida Grande, Tahoma, sans-serif;
  line-height: 15px;
  -moz-user-select: none;
}

body[collapsed="true"] {
  display: none;
}

/******************************************************************************/
/* Form */

.overlayFormCell,
.overlayListCell {
  vertical-align: top;
  border-right: 1px solid lightgray;
}

.form {
  margin: 8px;
  width: 230px;
}

.form td {
  padding: 3px;
}

.form .url {
  word-break: break-all;
  color: gray;
  font-size: 10px;
  margin-top: 5px;
  -moz-user-select: text;
}

.form input {
  border: 1px solid lightgray;
}

.form .buttonBar {
  padding-top: 18px;
}

.form .opacity {
  border: 0;
  width: 100%;
}

.form .opacity-value {
  border: 0;
  width: 30px;
}

.form td.right {
  text-align: right;
}

.form .position {
  margin: 0;
  padding: 0;
  border: 0;
}

.form td.positionCell {
  padding-left: 0;
}

/******************************************************************************/
/* Overlays */

.overlayList {
  overflow-y: auto;
  overflow-x: hidden;
  height: 230px;
  min-width: 150px;
}

.overlayCell {
  padding: 4px;
}

.overlayImage.add {
  cursor: pointer;
  font-size: 11px;
  text-align: center;
}

.overlayImage.add:hover {
  background-color: rgb(237, 237, 237);
}

/******************************************************************************/
/* Overlay Image Box */

.overlayImageBox,
.overlayImage {
  width: 96px;
}

.overlayImageBox {
  border: 3px solid transparent;
  border-radius: 4px;
  position: relative;
  display: inline-block;
}

.overlayImageBox.selected {
  border: 3px solid rgb(76, 158, 217);
}

.overlayImageBox .closeButton {
  display: none;
  cursor: pointer;
  background-image: url("img/close.svg");
  background-position: right top;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 0;
}

.overlayImageBox:hover .closeButton {
  display: block;
}
