/* See license.txt for terms of usage */

/******************************************************************************/
/* General */

html, body {
  height: 100%;
}

body {
  overflow: hidden;
  background-color: white;
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 12px;
  font-family: Lucida Grande, Tahoma, sans-serif;
  line-height: 15px;
  -moz-user-select: none;
}

body[collapsed="true"] {
  display: none;
}

/******************************************************************************/
/* Panel */

.popupPanelTable {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/******************************************************************************/
/* Form */

.layerListCell {
  border-right: 1px solid lightgray;
  width: 150px;
}

.layerFormCell,
.layerListCell {
  vertical-align: top;
}

.form {
  margin: 8px;
  width: 240px;
}

.form td {
  padding: 3px;
}

.form .url {
  word-break: break-all;
  color: gray;
  font-size: 10px;
  margin-top: 5px;
  -moz-user-select: text;
  max-width: 220px;
}

.form input {
  border: 1px solid lightgray;
}

.form input[type="number"] {
  -moz-appearance: textfield;
  width: 40px;
}

.form .buttonBar {
  padding-top: 18px;
}

.form .opacity {
  border: 0;
  width: 100%;
}

.form .opacity-value {
  border: 0;
  width: 30px;
}

.form td.right {
  text-align: right;
}

.form .position {
  margin: 0;
  padding: 0;
  border: 0;
}

.form td.positionCell {
  padding-left: 0;
}

/******************************************************************************/
/* Layers */

.layerList {
  overflow-y: auto;
  overflow-x: hidden;
}

.layerCell {
  padding: 4px;
}

.layerImage.add {
  cursor: pointer;
  font-size: 11px;
  text-align: center;
}

.layerImage.add:hover {
  background-color: rgb(237, 237, 237);
}

/******************************************************************************/
/* Layer Image Box */

.layerImageBox,
.layerImage {
  width: 96px;
}

.layerImageBox {
  border: 3px solid transparent;
  border-radius: 4px;
  position: relative;
  display: inline-block;
}

.layerImageBox.selected {
  border: 3px solid rgb(76, 158, 217);
}

.layerImageBox .closeButton {
  display: none;
  cursor: pointer;
  background-image: url("img/close.svg");
  background-position: right top;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 0;
}

.layerImageBox:hover .closeButton {
  display: block;
}

/******************************************************************************/
/* Default Content (no layers) */

.defaultContentTable {
  width: 100%;
  height: 100%;
}

.defaultContentTable td {
  text-align: center;
  padding: 10px;
}

.defaultContentDesc {
  color: black;
}

.defaultContentImage {
}

td.defaultContentHeader {
  padding-left: 0;
  font-size: 200%;
  font-weight: bold;
}

.defaultContentMore {
  color: rgb(0, 0, 255);
  cursor: pointer;
}

.defaultContentMore:hover {
  text-decoration: underline;
}

/******************************************************************************/
/* Pixel Perfect Customer */

.pixel-perfect-label{
  font-weight: normal;
  display: inline;
}
