/* See license.txt for terms of usage */

/******************************************************************************/
/* General */

body {
  background-color: white;
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 12px;
  font-family: Lucida Grande, Tahoma, sans-serif;
  line-height: 15px;
}

body[collapsed="true"] {
  display: none;
}

/******************************************************************************/
/* Form */

.form {
  margin: 8px;
  margin-top: 35px;
  padding: 3px;
  width: 230px;
}

.form td {
  padding: 3px;
}

.form input {
  size: 5;
  border: 1px solid lightgray;
}

.form .buttonBar {
  padding-top: 18px;
}

.form #opacity {
  border: 0;
}

/******************************************************************************/
/* Overlays */

.overlayList {
  overflow-y: auto;
  overflow-x: hidden;
  height: 200px;
  min-width: 150px;
}

.overlayCell {
  padding: 4px;
}

.overlayImageBox,
.overlayImage {
  width: 96px;
}

.overlayImageBox {
  border: 3px solid transparent;
  border-radius: 4px;
}

.overlayImageBox:hover {
  /*background-image: url("img/close.svg");
  background-position: right top;
  background-repeat: no-repeat;*/
}

.overlayImageBox.selected {
  border: 3px solid rgb(76, 158, 217);
}

.overlayImageBox.selected .overlayImage {
  border: 1px solid transparent;
}

/******************************************************************************/
/* Slider */

.slider-handle.custom {
  background-image: url("img/slider.png");
  background-repeat: no-repeat;
  background-position: 6px 2px;
  box-shadow: none;
}

.slider-handle.custom::before {
  content: none;
}

.slider.slider-horizontal {
  width: 150px;
}
